@import "tailwindcss";

@theme {
  --color-brand: #2563eb;
  --color-brand-hover: #1d4ed8;
  --color-success: #22c55e;
  --color-danger: #ef4444;
  --color-warning: #f59e0b;

  --color-app-background: #f8fafc;
  --color-surface: #ffffff;
  --color-text-primary: #0f172a;
  --color-text-secondary: #64748b;
  --color-border: #e2e8f0;

  --radius-card: 1rem;
}
